**secrets**

dotfiles/fish/completions
dotfiles/fish/conf.d
dotfiles/fish/fish_variables
dotfiles/fish/fishd.tmp*
dotfiles/fish/functions/_*
dotfiles/fish/functions/fish_mode_prompt.fish
dotfiles/fish/functions/fish_prompt.fish
dotfiles/fish/functions/fisher.fish
dotfiles/fish/functions/fzf_configure_bindings.fish
dotfiles/fish/functions/man.fish
dotfiles/fish/functions/tide.fish
dotfiles/fish/functions/tide/configure
dotfiles/fish/secrets.fish
dotfiles/nvim/lazy-lock.json
dotfiles/btop/btop.log
dotfiles/btop/btop.conf
dotfiles/sketchybar/helpers/event_providers/cpu_load/bin/cpu_load
dotfiles/sketchybar/helpers/event_providers/network_load/bin/network_load
dotfiles/sketchybar/helpers/menus/bin
dotfiles/sketchybar/pix_shell/helper/helper
dotfiles/config.toml
dotfiles/ghostty/config
dotfiles/fish/work.fish
dotfiles/ghostty/keybinds
dotfiles/yazi/plugins/preview.yazi
