fishd.tmp*

pixconfig/fish/fish_variables
pixconfig/nvim/lazy-lock.json
pixconfig/fish/secrets.fish
pixconfig/fish/completions
pixconfig/fish/conf.d
pixconfig/fish/functions

pixconfig/wezterm/secrets/servers.lua
pixconfig/btop/btop.log
pixconfig/btop/btop.conf
pixconfig/btop/btop.conf
pixconfig/sketchybar/pix_lua/secrets.lua
pixconfig/sketchybar/helper/helper
pixconfig/sketchybar/secrets.lua

## Explicitly allow!
!pixconfig/fish/functions/fzf-match.fish
!pixconfig/fish/functions/fzf-s.fish
!pixconfig/fish/functions/rg-search.fish
!pixconfig/fish/functions/peep.fish
!pixconfig/fish/functions/rga-fzf.fish
