**secrets**

dotfiles/fish/fishd.tmp*
dotfiles/fish/secrets.fish
dotfiles/nvim/lazy-lock.json
dotfiles/btop/btop.log
dotfiles/btop/btop.conf
dotfiles/sketchybar/helpers/event_providers/cpu_load/bin/cpu_load
dotfiles/sketchybar/helpers/event_providers/network_load/bin/network_load
dotfiles/sketchybar/helpers/menus/bin
dotfiles/sketchybar/pix_shell/helper/helper
dotfiles/config.toml
dotfiles/ghostty/config
dotfiles/fish/work.fish
dotfiles/ghostty/keybinds
dotfiles/yazi/plugins/preview.yazi
dotfiles/zellij/config.kdl.bak

!dotfiles/fish/conf.d/pix_autoexpand.fish
!dotfiles/fish/functions/_pix_expand_bang.fish
!dotfiles/fish/functions/_pix_expand_dots.fish
!dotfiles/fish/functions/_tide_item_discord.fish
dotfiles/fish/conf.d/fish_frozen_key_bindings.fish
dotfiles/fish/conf.d/fish_frozen_theme.fish
dotfiles/fish/fish_variables
